@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading my-6 font-bold;
  } */
  a:hover {
    @apply underline;
  }
  h1 {
    @apply my-6 font-bold text-3xl;
  }
  h2 {
    @apply my-6 font-bold text-2xl;
  }
  h3 {
    @apply my-6 font-bold text-xl;
  }
  h4 {
    @apply my-6 font-bold text-lg;
  }
  p {
    @apply my-2;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  ul,
  ol {
    @apply my-4;
  }
  li {
    @apply my-2;
  }
}

@layer components {
  .btn {
    @apply disabled:bg-yellow-200 disabled:cursor-not-allowed hover:no-underline bg-yellow-500 tracking-wider text-stone-900  cursor-pointer uppercase px-4 py-2 rounded-sm hover:bg-yellow-600 transition-colors text-center;
  }
}
